.content{
    display: flex;
    flex-direction: column;
    .startphoto{
        width: 90.56vw;
        height: auto;
        align-self: center;
        border-radius: 20px;
        overflow: hidden;
        margin-top: 1vh;
    }
    img{
        width: 100%;
        height: 100%;
    }
    .title{
        font-weight: 700;
        align-self: center;
        color: #fff;
    }
    .main_info{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 2vh;
        align-self:center;
        color: #FFFF;
        padding-left: 15px;
        padding-right: 15px;
        gap:1vh;
        .article{
            font-weight: 600;
            align-self: center;
        }
        .long_text{
            align-self: center;
            font-size: 12px;
            text-indent: 10px;
        }
        
    }
    .map{
        margin-top: 2vh;
        width: 92.31vw;
        height: auto;
        align-self: center;
        border-radius: 20px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .poem{
        margin-top: 3vh;
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 20px;
        padding: 12px;
        background-color: #565656;
        font-weight: 600;
        font-size: 3.4vw;
        color: #FFFF;
        display: flex;
        flex-direction: column;
        .author{
            align-self: end;
            font-size: 2.9vw;
            font-weight: 400;
        }
    }

}
